.full-parent{
    margin: 0px;
    padding: 0px;
    width: 99vw;
    height: 100vh;
}

.product-info{
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    border:solid 1px seagreen;
    border-radius: 1rem;
}

.photo-strip{
    min-width: 5vw;
    width: 5%;
    height: 50vh;
    border:solid 1px chocolate;
    border-radius: 1rem 0px 0px 1rem;
}

.photo-display{
    height: 50vh;
    width: 40%;
    border: solid 1px teal;
}

.product-data{
    width: 60%;
}

.extra-info{
    width: 100%;
    height: 20vh;
    border: solid 1px salmon;
    border-radius: 1rem;
}

.reviews-info{

}


.suggestions-strip{
    
}


.po{
    
}


.ko{
    
}
