.page{
    background-color: white;
    height: 98vh;
    width: 100vw;
    font-size: xx-large;
    transform: scale(2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.par{
    font-size: x-large;
    margin-top: 0;
    transform: translateY(-4px);
}

.fap{
color: #ff0138;
}

.cap{
color: #43a849;
}

.bap{
color: #2282e1;
}